.idea/
.DS_Store
*.o
cmake-build-debug/

asm.dSYM/

test1.s

test_
/sources/cw/help_files/batman.s
/sources/cw/help_files/batman.cor
/sources/cw/help_files/zork.cor
/sources/cw/help_files/bigzork.cor

corewar

.Makefile.swp

42-Corewar-Checker

corewar.dSYM/Contents/Info.plist

corewarBRA

out_main

out_subj

sources/ebalunger.cor

sources/zork.cor

tests/amedvedi.cor

tests/champion_cor/_.cor

tests/champion_cor/_honeybadger.cor

tests/champion_cor/Asombra.cor

tests/champion_cor/barriere.cor

tests/champion_cor/Bazou.cor

tests/champion_cor/bee_gees.cor

tests/champion_cor/big_feet.cor

tests/champion_cor/bigzork.cor

tests/champion_cor/casimir.cor

tests/champion_cor/champ.cor

tests/champion_cor/Code_eater.cor

tests/champion_cor/corelol.cor

tests/champion_cor/darksasuke.cor

tests/champion_cor/doge.cor

tests/champion_cor/Douceur_power.cor

tests/champion_cor/dubo.cor

tests/champion_cor/echo.cor

tests/champion_cor/Eraser.cor

tests/champion_cor/ex.cor

tests/champion_cor/Explosive_Kitty.cor

tests/champion_cor/fast.cor

tests/champion_cor/fluttershy.cor

tests/champion_cor/ForgottenOne.cor

tests/champion_cor/Gagnant.cor

tests/champion_cor/gateau.cor

tests/champion_cor/gedeon.cor

tests/champion_cor/helltrain.cor

tests/champion_cor/Hidden.cor

tests/champion_cor/Horace.cor

tests/champion_cor/Izi_Miaou.cor

tests/champion_cor/jinx.cor

tests/champion_cor/jumper.cor

tests/champion_cor/justin_bee.cor

tests/champion_cor/kamelkaze.cor

tests/champion_cor/Kappa.cor

tests/champion_cor/katchup.cor

tests/champion_cor/Kitty_Miaou.cor

tests/champion_cor/Kittystrophic.cor

tests/champion_cor/lapsang.cor

tests/champion_cor/le_pet_de_nonne.cor

tests/champion_cor/littlepuppy.cor

tests/champion_cor/live.cor

tests/champion_cor/loose.cor

tests/champion_cor/lou_forktologue.cor

tests/champion_cor/Machine-gun.cor

tests/champion_cor/mandragore.cor.timeout

tests/champion_cor/MarineKing.cor

tests/champion_cor/master_of_puppets.cor

tests/champion_cor/maxidef.cor

tests/champion_cor/meowluigi.cor

tests/champion_cor/Misaka_Mikoto.cor

tests/champion_cor/mise_a_jour_windows95.cor

tests/champion_cor/mise_a_jour_windows95.s

tests/champion_cor/mortel.cor

tests/champion_cor/NoIdea.cor

tests/champion_cor/nolive.cor

tests/champion_cor/O-Maley_Miaou.cor

tests/champion_cor/Octobre_Rouge_V4.2.cor

tests/champion_cor/overwatch.cor

tests/champion_cor/pai_mu_tan.cor

tests/champion_cor/Rainbow_dash.cor

tests/champion_cor/run_Kitty_RUN.cor

tests/champion_cor/salamahenagalabadoun.cor

tests/champion_cor/sam_2.0.cor

tests/champion_cor/sencha.cor

tests/champion_cor/skynet.cor

tests/champion_cor/slider2.cor

tests/champion_cor/Stargate0_1.cor

tests/champion_cor/tchupka.cor

tests/champion_cor/terminator.cor

tests/champion_cor/TheHarvester.cor

tests/champion_cor/THUNDER.cor

tests/champion_cor/toto.cor

tests/champion_cor/turtle.cor

tests/champion_cor/ultima.cor

tests/champion_cor/ultimate-surrender.cor

tests/champion_cor/Varimathras.cor

tests/champion_cor/Wall.cor

tests/champion_cor/wave.cor

tests/champion_cor/youforkmytralala.cor

tests/champion_cor/zork.cor

tests/kalle.cor

tests/log.txt

tests/vm_dump.sh

tests/vm_leaks.sh

tests/zork.cor

asm
