.idea/
.DS_Store
*.o
cmake-build-debug/

asm.dSYM/

test1.s

test_
/sources/cw/help_files/batman.s
/sources/cw/help_files/batman.cor
/sources/cw/help_files/zork.cor
/sources/cw/help_files/bigzork.cor

corewar
